@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
body{
  background: rgba(100,110,200,0.8);
  margin:0;
  padding:0;
}
.wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(8, 1fr);
}
.title{
  grid-column: 1/-1;
  background: linear-gradient(to right,red, blue);
  display: inline;
}
.title:hover{
    grid-column: 1/-1;
    background: linear-gradient(to right,blue, red);
  }
.logo_title > h1{
    letter-spacing: 2px;
    margin-left: 30%;
    color: #fff;
    font-family: 'Bebas Neue',cursive;
    font-size: 50px;
    text-transform: uppercase;
}
.logo_title > h1:hover{
    color: #272727;
    font-family: 'Bebas Neue',cursive;
}
.logo_title > h1 > span{
    color: #ff4a4a;
}
.search{
    
    float: right;
}
.article{
  grid-column: 1 / 3;
  grid-row: 2 / -1;
  background-color: #f35553;
  text-align: justify;

}
.article > h2{
    margin:0;
    padding-left: 2%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}
.article > p{
    margin:0;
    padding-left: 2%;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
}
.navlist{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}
.navlist > li{
    background: #3c695e;
    padding: 2%;
    text-align: center;
    font-size: 28px;
    font-family: 'Oxygen', sans-serif;
    border-left: 3px solid #fff;
}
.navlist > li:hover{
    background: #272727;
    border-bottom: 3px solid #fff;
    font-size: 26px;
    text-align: center;
}
.navlist > li > a{ 
    text-decoration: none;
    color: #fff;
}
.navbar {
  grid-column: 3/4;
  grid-row: 2 / -1;
  background-color: #f35592;
}
.aside{
  grid-column: 4 / 5;
  grid-row: 2 / -1;
  background-color: #f38811;
 
}
.aside > h2{
    margin: 0;
    padding-left: 2%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}
.aside > p{
    margin: 0;
    padding-left: 2%;
    text-align: justify;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
}
.footer{
  grid-column: 1 / -1;
  background-color: #f36644;
}
.footer > h1{
    margin: 0;
    padding-left: 2%;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Bebas Neue',cursive;
    font-size: 50px;
    text-transform: uppercase;
}
